/*--- --- --- layout --- --- ---*/
.grid {
  display: grid;
  grid-template-areas:
    'header-grid header-grid header-grid'
    'nav-grid nav-grid nav-grid'
    'left-grid main-grid right-grid'
    'footer-grid footer-grid footer-grid';
  grid-template-columns: 1fr 2fr 1fr; /*width repeat(3, 1fr)*/
  grid-template-rows: 2.5fr 0.5fr 5fr 1fr; /*hight*/
  gap: 0px;
}
.header-grid { 
  display: grid;
  grid-area: header-grid;
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  justify-content: center;
  margin-top: 0%;
  border: solid red 0px;
  padding: 3% 0% 1% 0%;
}
.nav-grid { 
  display: grid;
  grid-area: nav-grid;
  grid-column: 1 / 5;
  grid-row: 2 / 3;
  justify-content: center;
  margin: 0%;
  border: solid red 0px;
  padding: 0%;
}
.left-grid {
  display: grid;
  grid-area: left-grid;
  grid-column: 1;
  grid-row: 3/ 5;
  justify-content: center;
  align-content: none;
  margin: 0%;
  border: solid #00a3d7 3px;
  padding: 0%;
}
.main-grid {
  display: grid;
  grid-area: main-grid;
  grid-column: 2;
  grid-row: 3/ 5;
  justify-content: center;
  align-content: ;
  margin: 0%;
  border: solid #9929bd 3px;
  padding: 0%;
}
.right-grid { 
  display: grid;
  grid-area: right-grid;
  grid-column: 3;
  grid-row: 3/ 5;
  justify-content: center;
  align-content: none;
  margin: 0%;
  border: solid #fffc41 3px;
  padding: 0%;
}
.footer-grid { 
  display: grid;
  grid-area:  footer-grid;
  grid-column: 1 / 5;
  grid-row: 5 / 6;
  justify-content: center;
  align-content: center;
  margin: 0%;
  border: solid white 3px;
  padding: 0%;
}
/*--- --- --- all --- --- ---*/
html {
  height: 100%;
  width: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1e1f26;
}
body {
  font-family: "ROBOTO", sans-serif;
}
/*--- --- --- header, nav --- --- ---*/
.header,
.nav,
.main,
.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0%;
  border: solid red 3px;
  padding: 0%;
  position: relative;
  background-color: #1e1f26;
  text-align: center;
  padding: 0 2em;
}
.header h1,
.nav h1,
.main h1,
.slider h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 5vw;
  margin: 0;
  border: solid green 3px;
  padding-bottom: 0.5rem;
  letter-spacing: 0.3rem;
  color: #03dac6;
  transition: all 0.3s ease;
  z-index: 3;
}
h1:hover {
  transform: translate3d(0, -10px, 22px);
  color: #ff0266;
}

.slider h2 {
  font-size: 2vw;
  letter-spacing: 0.3rem;
  font-family: "ROBOTO", sans-serif;
  font-weight: 300;
  color: #faebd7;
  z-index: 4;
}
h3.span {
  font-size: 2vw;
  letter-spacing: 0.15rem;
  font-family: "ROBOTO", sans-serif;
  font-weight: 300;
  color: #faebd7;
  z-index: 4;
}
span:hover {
  color: #ff0266;
  font-weight: 500;
  font-size: 2.2vw;
}

a {
  text-decoration: none;
}

.nav-container {  /*  !!!!!!!!!! */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: strech;
  position: absolute;
  bottom: 0;
  margin: 5%;
  border: solid green 3px;
  padding: 20%;
  width: 100%;
  height: 100%;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: #1e1f26;
  z-index: 10;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.nav-container--top-first {
  position: fixed;
  top: 75px;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.nav-container--top-second {
  position: fixed;
  top: 0;
}
.nav-container--top-second {
  position: fixed;
  top: 0;
}

.nav-tab {  /* !!!!!!!!! */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 100px;
  height: 100px;
  flex: 1;
  color: #03dac6;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 2vw;
}

.nav-tab:hover {
  color: #1e1f26;
  background: #03dac6;
  transition: all 0.5s ease;
}

.nav-tab-slider {
  position: absolute;
  bottom: 0;
  width: 5px;
  height: 30px;
  background: #03dac6;
  transition: left 0.3s ease;
}
.background {
  position: absolute;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: auto;
}
@media (min-width: 800px) {
  .nav h1,
  .slider h1 {
    font-size: 5vw;
  }

  .nav h2,
  .slider h2 {
    font-size: 3vw;
  }

  .nav-tab {
    font-size: 3vw;
  }
}

@media screen only (min-width: 360px) {
  .nav h1,
  .slider h1 {
    font-size: 8vw;
  }

  .nav h2,
  .slider h2 {
    font-size: 2vw;
    letter-spacing: 0.2vw;
  }

  .nav-tab {
    
    font-size: 1.2vw;
  }
}
.background {
  position: absolute;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}
.loader span {
  color: #faebd7;
  text-shadow: 0 0 0 #faebd7;
  -webkit-animation: loading 1s ease-in-out infinite alternate;
}

@-webkit-keyframes loading {
  to {
    text-shadow: 20px 0 70px #ff0266;
    color: #ff0266;
  }
}
.loader span:nth-child(2) {
  -webkit-animation-delay: 0.1s;
}
.loader span:nth-child(3) {
  -webkit-animation-delay: 0.2s;
}
.loader span:nth-child(4) {
  -webkit-animation-delay: 0.3s;
}
.loader span:nth-child(5) {
  -webkit-animation-delay: 0.4s;
}
.loader span:nth-child(6) {
  -webkit-animation-delay: 0.5s;
}
.loader span:nth-child(7) {
  -webkit-animation-delay: 0.6s;
}
.loader span:nth-child(8) {
  -webkit-animation-delay: 0.7s;
}
.loader span:nth-child(9) {
  -webkit-animation-delay: 0.8s;
}

.loader span:nth-child(10) {
  -webkit-animation-delay: 0.9s;
}
.loader span:nth-child(11) {
  -webkit-animation-delay: 1s;
}
.loader span:nth-child(12) {
  -webkit-animation-delay: 1.1s;
}
.loader span:nth-child(13) {
  -webkit-animation-delay: 1.2s;
}
.loader span:nth-child(14) {
  -webkit-animation-delay: 1.3s;
}
.loader span:nth-child(15) {
  -webkit-animation-delay: 1.4s;
}
.loader span:nth-child(16) {
  -webkit-animation-delay: 1.5s;
}
.loader span:nth-child(17) {
  -webkit-animation-delay: 1.6s;
}
.loader span:nth-child(18) {
  -webkit-animation-delay: 1.7s;
}
.loader span:nth-child(19) {
  -webkit-animation-delay: 1.8s;
}
.loader span:nth-child(20) {
  -webkit-animation-delay: 1.9s;
}
.loader span:nth-child(21) {
  -webkit-animation-delay: 2s;
}
.loader span:nth-child(22) {
  -webkit-animation-delay: 2.1s;
}
/*--- --- --- main --- --- ---*/


/*--- gallery ---*/
/*
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");
:root {
	--card-width: 200px;
	--card-height: 300px;

	--card-transition-duration: 800ms;
	--card-transition-easing: ease;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.787);
	overflow: hidden;
}

button {
	border: none;
	background: none;
	cursor: pointer;
	&:focus {
		outline: none;
		border: none;
	}
}

.app {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: -5;
		filter: blur(8px);
		pointer-events: none;
		user-select: none;
		overflow: hidden;

		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: #000;
			z-index: 1;
			opacity: 0.8;
		}

		&__image {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%) translateX(var(--image-translate-offset, 0));
			width: 180%;
			height: 180%;
			transition: transform 1000ms ease, opacity 1000ms ease;
			overflow: hidden;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			&.current--image {
				opacity: 1;
				--image-translate-offset: 0;
			}
			&.previous--image,
			&.next--image {
				opacity: 0;
			}
			&.previous--image {
				--image-translate-offset: -25%;
			}
			&.next--image {
				--image-translate-offset: 25%;
			}
		}
	}
}

.cardList {
	position: absolute;
	width: calc(3 * var(--card-width));
	height: auto;

	&__btn {
		--btn-size: 35px;
		width: var(--btn-size);
		height: var(--btn-size);
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 100;

		&.btn--left {
			left: -5%;
		}
		&.btn--right {
			right: -5%;
		}

		.icon {
			width: 100%;
			height: 100%;
			svg {
				width: 100%;
				height: 100%;
			}
		}
	}

	.cards__wrapper {
		position: relative;
		width: 100%;
		height: 100%;
		perspective: 1000px;
	}
}

.card {
	--card-translateY-offset: 100vh;

	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) translateX(var(--card-translateX-offset))
		translateY(var(--card-translateY-offset)) rotateY(var(--card-rotation-offset))
		scale(var(--card-scale-offset));
	display: inline-block;
	width: var(--card-width);
	height: var(--card-height);
	transition: transform var(--card-transition-duration)
		var(--card-transition-easing);
	user-select: none;

	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: #000;
		z-index: 1;
		transition: opacity var(--card-transition-duration)
			var(--card-transition-easing);
		opacity: calc(1 - var(--opacity));
	}

	&__image {
		position: relative;
		width: 100%;
		height: 100%;
		img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&.current--card {
		--current-card-rotation-offset: 0;
		--card-translateX-offset: 0;
		--card-rotation-offset: var(--current-card-rotation-offset);
		--card-scale-offset: 1.2;
		--opacity: 0.8;
	}

	&.previous--card {
		--card-translateX-offset: calc(-1 * var(--card-width) * 1.1);
		--card-rotation-offset: 25deg;
	}

	&.next--card {
		--card-translateX-offset: calc(var(--card-width) * 1.1);
		--card-rotation-offset: -25deg;
	}

	&.previous--card,
	&.next--card {
		--card-scale-offset: 0.9;
		--opacity: 0.4;
	}
}

.infoList {
	position: absolute;
	width: calc(3 * var(--card-width));
	height: var(--card-height);
	pointer-events: none;

	.info__wrapper {
		position: relative;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: flex-end;
	perspective: 1000px;
	transform-style: preserve-3d;
	}
}

.info {
	margin-bottom: calc(var(--card-height) / 8);
	margin-left: calc(var(--card-width) / 1.5);
	transform: translateZ(2rem);
	transition: transform var(--card-transition-duration)
		var(--card-transition-easing);
	.text {
		position: relative;
		font-family: "Montserrat";
		font-size: calc(var(--card-width) * var(--text-size-offset, 0.2));
		white-space: nowrap;
		color: #fff;
		width: fit-content;
	}

	.name,
	.location {
		text-transform: uppercase;
	}

	.location {
		font-weight: 800;
	}

	.location {
		--mg-left: 40px;
		--text-size-offset: 0.12;
		font-weight: 600;
		margin-left: var(--mg-left);
		margin-bottom: calc(var(--mg-left) / 2);
		padding-bottom: 0.8rem;
		&::before,
		&::after {
			content: "";
			position: absolute;
			background: #fff;
			left: 0%;
			transform: translate(calc(-1 * var(--mg-left)), -50%);
		}
		&::before {
			top: 50%;
			width: 20px;
			height: 5px;
		}
		&::after {
			bottom: 0;
			width: 60px;
			height: 2px;
		}
	}

	.description {
		--text-size-offset: 0.065;
		font-weight: 500;
	}

	&.current--info {
		opacity: 1;
		display: block;
	}
	&.previous--info,
	&.next--info {
		opacity: 0;
		display: none;
	}
}

.loading__wrapper {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #000;
	z-index: 200;
	.loader--text {
		color: #fff;
		font-family: "Montserrat";
		font-weight: 500;
		margin-bottom: 1.4rem;
	}
	.loader {
		position: relative;
		width: 200px;
		height: 2px;
		background: rgba(255, 255, 255, 0.25);
		span {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgb(255, 0, 0);
			transform: scaleX(0);
			transform-origin: left;
		}
	}
}

@media only screen and (min-width: 800px) {
	:root {
		--card-width: 250px;
		--card-height: 400px;
	}
}

.support {
	position: absolute;
	right: 10px;
	bottom: 10px;
	padding: 10px;
	display: flex;
	a {
		margin: 0 10px;
		color: #fff;
		font-size: 1.8rem;
		backface-visibility: hidden;
		transition: all 150ms ease;
		&:hover {
			transform: scale(1.1);
		}
	}
}
*/

/*--- --- --- footer --- --- ---*/
.contact{
  color: #ffffff;
}
.contact {
    clear:both;
    background-color:#252F31;
    padding-top:50px;
    padding-bottom:70px;
    height:620px;
}
.contact .info {width:50%;margin-right:5%}

.contact h2 {color:#FFF;margin-left:40px}

.contact p {color:#6A6E71;margin-left:40px}

.contact p strong {color:#D1D6DA}

.contact .form {width:45%}

.contact .form label {display:block;color:#D1D6DA;margin:10px 0}

.contact .form input[type="text"] {
    background-color:#4B5557;
    color:#FFF;
    padding:10px;
    border:0;
    width:80%;
    margin-bottom:10px
}

.contact .form textarea {
    background-color:#4B5557;
    color:#FFF;
    padding:10px;
    border:0;
    width:80%;
    margin-bottom:10px;
    height:300px
}

.contact .form input[type="submit"] {
    background-color:#191E22;
    color:#FFF;
    padding:10px 20px;
    border:0;
    margin-top:10px
}



/*--- --- --- try lab --- --- ---*/

/*--- --- --- general --- --- ---*/
/*
html {
  height: 100%;
  width: 100%;
}
body {
  margin: 0%;
  padding: 0%;
  background-color: #1e1f26;
  font-family: "ROBOTO", sans-serif;
}
* {
  margin: 0%;
  border: collapse;
  padding: 0%;
  box-sizing: border-box;
}
*/

/*--- --- --- header --- --- ---*/
/*
h1 {
  display: flex;
  justify-content: center;
  align-items: none;
  margin: 0;
  padding-bottom: 0.5rem;
  letter-spacing: 0.3rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 5vw;
  color: #03dac6;
  transition: all 0.3s ease;
}
h1:hover {
  transform: translate3d(0, -10px, 22px);
  color: #ff0266;
}

h3.span {
  display: flex;
  justify-content: center;
  align-items: space-around;
  font-size: 2vw;
  letter-spacing: 0.15rem;
  font-family: "ROBOTO", sans-serif;
  font-weight: 300;
  color: #faebd7;
}
span:hover {
  color: #ff0266;
  font-weight: 500;
  font-size: 2.2vw;
}
*/
/*--- span animation 52 zeichen, 49 ohne leer ---*/
/*
@-webkit-keyframes loading {
  to {
    text-shadow: 20px 0 70px #ff0266;
    color: #ff0266;
  }
}
.loader span {
  color: #faebd7;
  text-shadow: 0 0 0 #faebd7;
  -webkit-animation: loading 1.5s ease-in-out infinite alternate;
}
.loader span:nth-child(2) {
  -webkit-animation-delay: 0.1s;
}
.loader span:nth-child(3) {
  -webkit-animation-delay: 0.2s;
}
.loader span:nth-child(4) {
  -webkit-animation-delay: 0.3s;
}
.loader span:nth-child(5) {
  -webkit-animation-delay: 0.4s;
}
.loader span:nth-child(6) {
  -webkit-animation-delay: 0.5s;
}
.loader span:nth-child(7) {
  -webkit-animation-delay: 0.6s;
}
.loader span:nth-child(8) {
  -webkit-animation-delay: 0.7s;
}
.loader span:nth-child(9) {
  -webkit-animation-delay: 0.8s;
}

.loader span:nth-child(10) {
  -webkit-animation-delay: 0.9s;
}
.loader span:nth-child(11) {
  -webkit-animation-delay: 1s;
}
.loader span:nth-child(12) {
  -webkit-animation-delay: 1.1s;
}
.loader span:nth-child(13) {
  -webkit-animation-delay: 1.2s;
}
.loader span:nth-child(14) {
  -webkit-animation-delay: 1.3s;
}
.loader span:nth-child(15) {
  -webkit-animation-delay: 1.4s;
}
.loader span:nth-child(16) {
  -webkit-animation-delay: 1.5s;
}
.loader span:nth-child(17) {
  -webkit-animation-delay: 1.6s;
}
.loader span:nth-child(18) {
  -webkit-animation-delay: 1.7s;
}
.loader span:nth-child(19) {
  -webkit-animation-delay: 1.8s;
}
.loader span:nth-child(20) {
  -webkit-animation-delay: 1.9s;
}
.loader span:nth-child(21) {
  -webkit-animation-delay: 2.0s;
}
.loader span:nth-child(22) {
  -webkit-animation-delay: 2.1s;
}
.loader span:nth-child(23) {
  -webkit-animation-delay: 2.2s;
}
.loader span:nth-child(24) {
  -webkit-animation-delay: 2.3s;
}
.loader span:nth-child(25) {
  -webkit-animation-delay: 2.4s;
}
.loader span:nth-child(26) {
  -webkit-animation-delay: 2.5s;
}
.loader span:nth-child(27) {
  -webkit-animation-delay: 2.6s;
}
.loader span:nth-child(28) {
  -webkit-animation-delay: 2.7s;
}
.loader span:nth-child(29) {
  -webkit-animation-delay: 2.8s;
}
.loader span:nth-child(30) {
  -webkit-animation-delay: 2.9s;
}
.loader span:nth-child(31) {
  -webkit-animation-delay: 3.0s;
}
.loader span:nth-child(31) {
  -webkit-animation-delay: 3.1s;
}
.loader span:nth-child(32) {
  -webkit-animation-delay: 3.2s;
}
.loader span:nth-child(33) {
  -webkit-animation-delay: 3.3s;
}
.loader span:nth-child(34) {
  -webkit-animation-delay: 3.4s;
}
.loader span:nth-child(35) {
  -webkit-animation-delay: 3.5s;
}
.loader span:nth-child(36) {
  -webkit-animation-delay: 3.6s;
}
.loader span:nth-child(37) {
  -webkit-animation-delay: 3.7s;
}
.loader span:nth-child(38) {
  -webkit-animation-delay: 3.8s;
}
.loader span:nth-child(39) {
  -webkit-animation-delay: 3.9s;
}
.loader span:nth-child(40) {
  -webkit-animation-delay: 4.1s;
}
.loader span:nth-child(41) {
  -webkit-animation-delay: 4.2s;
}
.loader span:nth-child(42) {
  -webkit-animation-delay: 4.3s;
}
.loader span:nth-child(43) {
  -webkit-animation-delay: 0.1s;
}
.loader span:nth-child(44) {
  -webkit-animation-delay: 0.2s;
}
.loader span:nth-child(45) {
  -webkit-animation-delay: 0.3s;
}
.loader span:nth-child(46) {
  -webkit-animation-delay: 0.4s;
}
.loader span:nth-child(47) {
  -webkit-animation-delay: 0.5s;
}
.loader span:nth-child(48) {
  -webkit-animation-delay: 0.6s;
}
.loader span:nth-child(49) {
  -webkit-animation-delay: 0.7s;
}
.loader span:nth-child(50) {
  -webkit-animation-delay: 0.8s;
}
.loader span:nth-child(51) {
  -webkit-animation-delay: 0.9s;
}
.loader span:nth-child(52) {
  -webkit-animation-delay: 1.0s;
}
*/
/*--- --- --- menu/nav --- --- ---*/
/*
.nav-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: #1e1f26;

  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.nav-container--top-first {
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.nav-container--top-second {
  
}
.nav-container--top-second {
}

.nav-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #03dac6;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 2vw;
}

.nav-tab:hover {
  color: #1e1f26;
  background: #03dac6;
  transition: all 0.5s ease;
}

.nav-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 5px;
  background: #03dac6;
  transition: left 0.3s ease;
}
*/


/*
.nav-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin: 0px;
  border: solid red 1px;
  padding: 0px;
  width: 4fr;
  height: 1fr;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: #1e1f26;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.nav,
.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #1e1f26;
  text-align: center;
  padding: 0 2em;
}

.nav-tab{
  display: flex;
  justify-content: center;
  align-content: stretch;
  margin: 0px;
  border: solid 0px;
  padding: 0px;
  color: #03dac6;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 2vw;
}

a {
  text-decoration: none;
}
.nav-container--top-first {
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.nav-tab:hover {
  color: #1e1f26;
  background: #03dac6;
  transition: all 0.5s ease;
}
*/

/*--- --- --- main --- --- ---*/
/*--- header ---*/